@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-unbounded: var(--font-unbounded);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

.font-unbounded {
  font-family: var(--font-unbounded), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
